.cards__paragraph {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.cards__paragraph:not(:last-of-type) {
  padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
  .cards__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}
